In [1]:
import math

In [2]:
math.sqrt(25)

5.0

In [3]:
math.pi

3.141592653589793

In [4]:
import math as mt

In [5]:
mt.sqrt(25)

5.0

In [1]:
import numpy
import math
from scipy import stats

In [8]:
from numpy import random

In [9]:
import numpy as np

In [10]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [11]:
dataOne

array([[0.44673975, 0.8610585 , 0.13578688, 0.65354872, 0.1558552 ],
       [0.91337056, 0.99924423, 0.84103425, 0.46097437, 0.84683225],
       [0.41936261, 0.26457211, 0.31349245, 0.13383152, 0.49400313],
       [0.74278117, 0.27073749, 0.27625847, 0.75861281, 0.74951883],
       [0.67561865, 0.13890594, 0.91423412, 0.58270793, 0.38278077]])

In [12]:
np.mean(dataOne)

0.5372745097067927

In [15]:
print('I Love data Science')

I Love data Science

In [16]:
variableName = 25
variableName1 = 'I Love data Science'
print(variableName1)

I Love data Science

In [17]:
variableName=25
type(variableName)

int

In [18]:
variableName=25.0
type(variableName)

float

In [19]:
varOne=25
varTwo=25.0
varThree=varOne+varTwo
print(varThree)

50.0

In [20]:
varTwo='Hello'
varThree=varOne+VarTwo
print(varThree)

NameError: name 'VarTwo' is not defined

In [21]:
listOne  =[1,2,3,4]

In [22]:
print(listOne[1:3])

[2, 3]

In [23]:
tel={'jack': 4098, 'sape': 4139}

In [24]:
tel['jack']

4098

In [25]:
a=1
b=2
c=3
d=4
e=5
f=a+b+c
g=a*b*c
h=a*b-e

In [26]:
print(f)

6

In [27]:
print(g)

6

In [28]:
print(h)

-3

In [2]:
import pandas as pd
defaultDF = pd.read_csv("/Users/priscillaloebenberg/Downloads/CompleteResponses.csv")
print(defaultDF)

            salary  age  elevel  car  zipcode        credit  brand
0     119806.54480   45       0   14        4  442037.71130      0
1     106880.47840   63       1   11        6   45007.17883      1
2      78020.75094   23       0   15        2   48795.32279      0
3      63689.93635   51       3    6        5   40888.87736      1
4      50873.61880   20       3   14        4  352951.49770      0
...            ...  ...     ...  ...      ...           ...    ...
9893   87580.91422   75       1   18        8  282511.90950      1
9894  129181.38200   75       2    7        4  384871.36390      1
9895   97828.08884   66       2   15        0  399446.69620      1
9896   20000.00000   24       1   14        1  223204.64950      1
9897   96430.16419   34       1    2        7  224029.80700      0

[9898 rows x 7 columns]